* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #383131;
  font-family: "Roboto", sans-serif;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  gap: 20px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 60px;
  background-color: #c2b695;
  font-size: 18px;
}

nav a {
  color: #383131;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
  text-decoration-style: dashed;
}

header {
  height: 200px;
  line-height: 200px;
  background-color: #343e61;
  text-align: center;
  background-image: url("./imgs/vlad-hilitanu-pt7QzB4ZLWw-unsplash.jpg");
  background-size: cover;
}

header h1 {
  display: inline-block;
  vertical-align: middle;
  -webkit-text-stroke: 2px #000;
  font-size: 48px;
}

h1,
h2 {
  color: #e6e1ca;
}

h2 {
  margin-bottom: 4px;
}

main {
  width: 100%;
  margin: 0 auto;
}

main > div {
  margin: 20px;
}

.card {
  height: 200px;
  background-color: #e6e1ca;
  border-radius: 4px;
  flex: 1;
  padding: 10px 12px;
}
